<h1>Listar Disciplinas</h1>
<div class="table-responsive">

<table class="table">
  <thead>
    <th>#</th>
    <th>Nome</th>
    <th>Code</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let disciplina of disciplinas;index as i">

      <td>{{ i+1 }}</td>
      <td>{{ disciplina.name }}</td>
      <td>{{ disciplina.code }}</td>
      <td>
          
        <a routerLink="/cadastrar-disciplinas/{{disciplina.id}}" class="table-action">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <a (click)="remover(disciplina)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </td>

    </tr>
  </tbody>
</table>
</div>
