<div>
  <h1 *ngIf="!this.id">Cadastrar Aluno</h1>
  <h1 *ngIf="this.id">Editar Aluno</h1>
  <form  (submit)="salvar($event)" [formGroup]="meuForm">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Digite seu nome" 
        [(ngModel)]="aluno.name"  formControlName="name" 
        (keyup)="0"  required/>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            O Nome é obrigatório.
          </div>
          <div *ngIf="name.errors.minlength">
            O Nome deve ter pelo menos 4 caracteres.
          </div> 
          
      </div>
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" 
        (keyup)="0" 
        [(ngModel)]="aluno.email" formControlName="email" required/>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
            <div *ngIf="email.errors.required">
              O Email é obrigatório.
            </div>
            <div *ngIf="email.errors.email">
              Email incorreto.
            </div>           
        </div>
    </div>
    <div class="form-group">
      <label for="cell">Celular:</label>
      <input type="tel" class="form-control" id="cell" name="cell" placeholder="Digite seu celular" 
        [(ngModel)]="aluno.cell" formControlName="cell" required
      />
      <div *ngIf="cell.invalid && (cell.dirty || cell.touched)"
             class="alert alert-danger">

            <div *ngIf="cell.errors.required">
              O Celular é obrigatório.
            </div>
            <div *ngIf="cell.errors.minLength">
              O celular deve ter pelo menos 8 caracteres.
            </div> 
            <div *ngIf="cell.errors?.pattern">
                Celular incorreto.
              </div>          
        </div>
    </div>
    <div class="form-group">
      <label for="curso">Curso:</label>
      <select class="form-control" id="curso" name="curso" [(ngModel)]="aluno.course" formControlName="course" required >
        <option value="-1" selected>Escolha seu Curso</option>
        <option *ngFor="let curso of cursos" value="{{curso.id}}" >{{curso.name}}</option>
      </select>
      <div *ngIf="course.invalid && (course.dirty || course.touched)"
             class="alert alert-danger">

            <div *ngIf="course.errors.required">
              O Curso é obrigatório.
            </div>
        </div>
    </div>
    <div class="form-inline">
      <div class="form-group col-lg-6">
        <label for="state">Estado:</label>
        <select name="state" id="state" class="form-control" [(ngModel)]="selectedOptions.state" (change)="changeEstado()" formControlName="state" required>
          <option *ngFor="let estado of estados" value="{{estado[0]}}">{{estado[1]}}</option>
        </select>
        <div *ngIf="state.invalid && (state.dirty || state.touched)"
             class="alert alert-danger">

            <div *ngIf="state.errors.required">
              O Estado é obrigatório.
            </div>
        </div>
      </div>
      <div class="form-group  col-lg-6">
        <label for="city">Cidade:</label>
        <select id="city" name="city" class="form-control" [(ngModel)]="selectedOptions.city" (change)="changeCidade()" formControlName="city" required>
          <option *ngFor="let cidade of cidadesDoEstado" value="{{cidade[1]}}">{{cidade[1]}}</option>
        </select>
        <div *ngIf="city.invalid && (city.dirty || city.touched)"
             class="alert alert-danger">

            <div *ngIf="city.errors.required">
              O Estado é obrigatório.
            </div>
        </div>
      </div>
    </div>
    <div class="botao">
      <button class="btn btn-default">Voltar</button>
      <button class="btn btn-primary">Cadsatrar</button>
    </div>
  </form>
</div>