<h1>Listar Alunos</h1>
<div class="table-responsive">

  <table class="table">
    <thead>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos;index as i">

        <td>{{ i+1 }}</td>
        <td>{{ aluno.name }}</td>
        <td>{{ aluno.email }}</td>
        <td>
          <a routerLink="/cadastrar-alunos/{{aluno.id}}" class="table-action">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a (click)="remover(aluno)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>

      </tr>
    </tbody>
  </table>
</div>